<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
  <form action="/members/new" method="post">
    <div class="form-group">
      <label for="title">title</label>
      <input type="text" id="title" name="title" placeholder="enter title..">
      <input type="text" id="desc" name="desc" placeholder="enter desc..">
      <input type="text" id="author" name="author" placeholder="enter author..">
      <input type="text" id="date" name="date" placeholder="enter date..">
    </div>
    <button type="submit">등록</button>
  </form>
</div>  <!----------- container------------>
</body>
</html>